input#qtywidget {
width: 40px;
font-size: 24px;
padding: 2px;
border: 1px solid #fff;
color: #000000;
background-color: #fff;
text-align: center;
}
.form-item.form-type-uc-quantity.form-item-qty label {
    display: none;
}
.bttwidget-containflex{
display: flex;
    justify-content: center;
}
.bttwidget-contain{
margin-top: 1em;
margin-bottom: 1em;
}	
.bttwidget {
color: #007bff;
    display: inline-block;
    background: #ffffff;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    border: 1px solid #007bff;
    -moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;
    line-height: 35px;
    width: 35px;
}
.bttwidget:focus {outline: none;}
.bttwidget:hover{
    background-color: #007bff !important;
	color: #ffffff;
}