#art-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #FFFFFF;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #D1D1D1 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   border:1px solid #CFCFCF;
   padding:0 25px;
   margin:0 auto;
   height:35px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent p
{
   margin: 13px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 30px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #F37344;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1B7DA7;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #B6390C;
}

.art-postcontent h1
{
   color: #24A4DB;
   margin: 10px 0 0;
   font-size: 30px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 30px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 30px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #F37344;
   margin: 10px 0 0;
   font-size: 28px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 28px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 28px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #F69A79;
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 24px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 24px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4
{
   color: #9E320A;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 20px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #9E320A;
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 16px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #F37344;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #4D4D4D;
}

.art-header:after, 
#art-header-bg:after, 
.art-layout-cell:after, 
.art-layout-wrapper:after, 
.art-footer:after, 
.art-nav:after, 
#art-hmenu-bg:after, 
.art-sheet:after,
.cleared, 
.clearfix:after 
{
   clear: both;
   display: table;
   content: '';
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-slideheader0-object194196089 h1, 
.art-slideheader0-object194196089 h2, 
.art-slideheader0-object194196089 h3, 
.art-slideheader0-object194196089 h4, 
.art-slideheader0-object194196089 h5, 
.art-slideheader0-object194196089 h6, 
.art-slideheader0-object194196089 p, 
.art-slideheader0-object194196089 a, 
.art-slideheader0-object194196089 ul, 
.art-slideheader0-object194196089 ol, 
.art-slideheader0-object194196089 li
{
  line-height: 125%;
}

.art-slideheader0-object194196089
{  
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -288px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      background-image: url('images/slideheader0-object194196089.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 1;
  width: 576px;
  height: 270px;
}

.default-responsive .art-slideheader0-object194196089
{
    background-image: none;
  }

.art-slideheader0-object194196089-text-container 
{
    display: table;
}

.art-slideheader0-object194196089-text
{
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 270px;
  width: 576px;  
word-wrap: break-word;
}

.default-responsive .art-slideheader0-object194196089-text 
{
    height: auto;
}

.art-slideheader0-object194196089-text,
.art-slideheader0-object194196089-text a.art-rss-tag-icon,
.art-slideheader0-object194196089-text a.art-facebook-tag-icon,
.art-slideheader0-object194196089-text a.art-twitter-tag-icon,
.art-slideheader0-object194196089-text a.art-tumblr-tag-icon,
.art-slideheader0-object194196089-text a.art-pinterest-tag-icon,
.art-slideheader0-object194196089-text a.art-vimeo-tag-icon,
.art-slideheader0-object194196089-text a.art-youtube-tag-icon,
.art-slideheader0-object194196089-text a.art-linkedin-tag-icon
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: center;
vertical-align: middle;
line-height: 125%;
  color: #1A0A05 !important;
}

.art-slideheader0-object194196089-text a.art-rss-tag-icon,
.art-slideheader0-object194196089-text a.art-facebook-tag-icon,
.art-slideheader0-object194196089-text a.art-twitter-tag-icon,
.art-slideheader0-object194196089-text a.art-tumblr-tag-icon,
.art-slideheader0-object194196089-text a.art-pinterest-tag-icon,
.art-slideheader0-object194196089-text a.art-vimeo-tag-icon,
.art-slideheader0-object194196089-text a.art-youtube-tag-icon,
.art-slideheader0-object194196089-text a.art-linkedin-tag-icon
{
    width: 100%;
}

.default-responsive .art-slideheader0-object194196089-text a.art-rss-tag-icon,
.default-responsive .art-slideheader0-object194196089-text a.art-facebook-tag-icon,
.default-responsive .art-slideheader0-object194196089-text a.art-twitter-tag-icon,
.default-responsive .art-slideheader0-object194196089-text a.art-tumblr-tag-icon,
.default-responsive .art-slideheader0-object194196089-text a.art-pinterest-tag-icon,
.default-responsive .art-slideheader0-object194196089-text a.art-vimeo-tag-icon,
.default-responsive .art-slideheader0-object194196089-text a.art-youtube-tag-icon,
.default-responsive .art-slideheader0-object194196089-text a.art-linkedin-tag-icon
{
    width: auto;
}

.art-textblock ul > li
{
    background-position-y: 8px !important;
}
.art-slideheader1-object802345240 h1, 
.art-slideheader1-object802345240 h2, 
.art-slideheader1-object802345240 h3, 
.art-slideheader1-object802345240 h4, 
.art-slideheader1-object802345240 h5, 
.art-slideheader1-object802345240 h6, 
.art-slideheader1-object802345240 p, 
.art-slideheader1-object802345240 a, 
.art-slideheader1-object802345240 ul, 
.art-slideheader1-object802345240 ol, 
.art-slideheader1-object802345240 li
{
  line-height: 125%;
}

.art-slideheader1-object802345240
{  
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -288px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      background-image: url('images/slideheader1-object802345240.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 1;
  width: 576px;
  height: 270px;
}

.default-responsive .art-slideheader1-object802345240
{
    background-image: none;
  }

.art-slideheader1-object802345240-text-container 
{
    display: table;
}

.art-slideheader1-object802345240-text
{
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 270px;
  width: 576px;  
word-wrap: break-word;
}

.default-responsive .art-slideheader1-object802345240-text 
{
    height: auto;
}

.art-slideheader1-object802345240-text,
.art-slideheader1-object802345240-text a.art-rss-tag-icon,
.art-slideheader1-object802345240-text a.art-facebook-tag-icon,
.art-slideheader1-object802345240-text a.art-twitter-tag-icon,
.art-slideheader1-object802345240-text a.art-tumblr-tag-icon,
.art-slideheader1-object802345240-text a.art-pinterest-tag-icon,
.art-slideheader1-object802345240-text a.art-vimeo-tag-icon,
.art-slideheader1-object802345240-text a.art-youtube-tag-icon,
.art-slideheader1-object802345240-text a.art-linkedin-tag-icon
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: center;
vertical-align: middle;
line-height: 125%;
  color: #1A0A05 !important;
}

.art-slideheader1-object802345240-text a.art-rss-tag-icon,
.art-slideheader1-object802345240-text a.art-facebook-tag-icon,
.art-slideheader1-object802345240-text a.art-twitter-tag-icon,
.art-slideheader1-object802345240-text a.art-tumblr-tag-icon,
.art-slideheader1-object802345240-text a.art-pinterest-tag-icon,
.art-slideheader1-object802345240-text a.art-vimeo-tag-icon,
.art-slideheader1-object802345240-text a.art-youtube-tag-icon,
.art-slideheader1-object802345240-text a.art-linkedin-tag-icon
{
    width: 100%;
}

.default-responsive .art-slideheader1-object802345240-text a.art-rss-tag-icon,
.default-responsive .art-slideheader1-object802345240-text a.art-facebook-tag-icon,
.default-responsive .art-slideheader1-object802345240-text a.art-twitter-tag-icon,
.default-responsive .art-slideheader1-object802345240-text a.art-tumblr-tag-icon,
.default-responsive .art-slideheader1-object802345240-text a.art-pinterest-tag-icon,
.default-responsive .art-slideheader1-object802345240-text a.art-vimeo-tag-icon,
.default-responsive .art-slideheader1-object802345240-text a.art-youtube-tag-icon,
.default-responsive .art-slideheader1-object802345240-text a.art-linkedin-tag-icon
{
    width: auto;
}

.art-textblock ul > li
{
    background-position-y: 8px !important;
}
.art-slideheader2-object145953025 h1, 
.art-slideheader2-object145953025 h2, 
.art-slideheader2-object145953025 h3, 
.art-slideheader2-object145953025 h4, 
.art-slideheader2-object145953025 h5, 
.art-slideheader2-object145953025 h6, 
.art-slideheader2-object145953025 p, 
.art-slideheader2-object145953025 a, 
.art-slideheader2-object145953025 ul, 
.art-slideheader2-object145953025 ol, 
.art-slideheader2-object145953025 li
{
  line-height: 125%;
}

.art-slideheader2-object145953025
{  
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -288px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      background-image: url('images/slideheader2-object145953025.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 1;
  width: 576px;
  height: 270px;
}

.default-responsive .art-slideheader2-object145953025
{
    background-image: none;
  }

.art-slideheader2-object145953025-text-container 
{
    display: table;
}

.art-slideheader2-object145953025-text
{
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 270px;
  width: 576px;  
word-wrap: break-word;
}

.default-responsive .art-slideheader2-object145953025-text 
{
    height: auto;
}

.art-slideheader2-object145953025-text,
.art-slideheader2-object145953025-text a.art-rss-tag-icon,
.art-slideheader2-object145953025-text a.art-facebook-tag-icon,
.art-slideheader2-object145953025-text a.art-twitter-tag-icon,
.art-slideheader2-object145953025-text a.art-tumblr-tag-icon,
.art-slideheader2-object145953025-text a.art-pinterest-tag-icon,
.art-slideheader2-object145953025-text a.art-vimeo-tag-icon,
.art-slideheader2-object145953025-text a.art-youtube-tag-icon,
.art-slideheader2-object145953025-text a.art-linkedin-tag-icon
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: center;
vertical-align: middle;
line-height: 125%;
  color: #1A0A05 !important;
}

.art-slideheader2-object145953025-text a.art-rss-tag-icon,
.art-slideheader2-object145953025-text a.art-facebook-tag-icon,
.art-slideheader2-object145953025-text a.art-twitter-tag-icon,
.art-slideheader2-object145953025-text a.art-tumblr-tag-icon,
.art-slideheader2-object145953025-text a.art-pinterest-tag-icon,
.art-slideheader2-object145953025-text a.art-vimeo-tag-icon,
.art-slideheader2-object145953025-text a.art-youtube-tag-icon,
.art-slideheader2-object145953025-text a.art-linkedin-tag-icon
{
    width: 100%;
}

.default-responsive .art-slideheader2-object145953025-text a.art-rss-tag-icon,
.default-responsive .art-slideheader2-object145953025-text a.art-facebook-tag-icon,
.default-responsive .art-slideheader2-object145953025-text a.art-twitter-tag-icon,
.default-responsive .art-slideheader2-object145953025-text a.art-tumblr-tag-icon,
.default-responsive .art-slideheader2-object145953025-text a.art-pinterest-tag-icon,
.default-responsive .art-slideheader2-object145953025-text a.art-vimeo-tag-icon,
.default-responsive .art-slideheader2-object145953025-text a.art-youtube-tag-icon,
.default-responsive .art-slideheader2-object145953025-text a.art-linkedin-tag-icon
{
    width: auto;
}

.art-textblock ul > li
{
    background-position-y: 8px !important;
}
.art-slidecontainerheader {
    position: relative;
            width: 100%;
    height: 100%;
    }

.default-responsive .art-header .art-slidecontainerheader,
.responsive .art-header .art-slidecontainerheader
{
  position: absolute !important;
}

.responsive .art-pageslider .art-slidecontainerheader {
  position: absolute !important;
}

.art-slidecontainerheader .art-slide-item
{

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
}



.art-slidecontainerheader .art-slide-item {
    -webkit-transition: 600ms ease-in-out opacity;
    -moz-transition: 600ms ease-in-out opacity;
    -ms-transition: 600ms ease-in-out opacity;
    -o-transition: 600ms ease-in-out opacity;
    transition: 600ms ease-in-out opacity;
    position: absolute !important;
    display: none;
	left: 0;
	top: 0;
	opacity: 0;
    width:  100%;
    height: 100%;
}

.art-slidecontainerheader .active, .art-slidecontainerheader .next, .art-slidecontainerheader .prev {
    display: block;
}

.art-slidecontainerheader .active {
    opacity: 1;
}

.art-slidecontainerheader .next, .art-slidecontainerheader .prev {
    width: 100%;
}

.art-slidecontainerheader .next.forward, .art-slidecontainerheader .prev.back {
    opacity: 1;
}

.art-slidecontainerheader .active.forward {
    opacity: 0;
}

.art-slidecontainerheader .active.back {
    opacity: 0;
}


.art-slideheader0 {
    background-image:  url('images/slideheader0.png');
        background-position:  center center;
    background-repeat: no-repeat;
}

/* special setup for header/pageslider */
.responsive .art-header .art-slideheader0 {
    background-image:  url('images/slideheader0.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.responsive .art-pageslider .art-slideheader0 {
    background-image:  url('images/slideheader0.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.default-responsive .art-header .art-slideheader0 {
    background-image: url('images/slideheader0.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.default-responsive .art-pageslider .art-slideheader0 {
    background-image: url('images/slideheader0.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}.art-slideheader1 {
    background-image:  url('images/slideheader1.png');
        background-position:  center center;
    background-repeat: no-repeat;
}

/* special setup for header/pageslider */
.responsive .art-header .art-slideheader1 {
    background-image:  url('images/slideheader1.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.responsive .art-pageslider .art-slideheader1 {
    background-image:  url('images/slideheader1.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.default-responsive .art-header .art-slideheader1 {
    background-image: url('images/slideheader1.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.default-responsive .art-pageslider .art-slideheader1 {
    background-image: url('images/slideheader1.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}.art-slideheader2 {
    background-image:  url('images/slideheader2.png');
        background-position:  center center;
    background-repeat: no-repeat;
}

/* special setup for header/pageslider */
.responsive .art-header .art-slideheader2 {
    background-image:  url('images/slideheader2.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.responsive .art-pageslider .art-slideheader2 {
    background-image:  url('images/slideheader2.png');
    background-size: auto auto;
    background-position:  center center;
    background-repeat: no-repeat;
}

.default-responsive .art-header .art-slideheader2 {
    background-image: url('images/slideheader2.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.default-responsive .art-pageslider .art-slideheader2 {
    background-image: url('images/slideheader2.png');
    background-size: auto auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.art-slidenavigatorheader {
  display: inline-block;
  position: absolute;
  direction: ltr !important;
  top: 439px;
  left: 0%;
  z-index: 101;
  line-height: 0 !important;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
    white-space: nowrap;
      right: 0px;
  }
.art-slidenavigatorheader
{
background: #77C7E9;background: transparent;



padding:3px;





}
.art-slidenavigatorheader > a
{
background: #19739A;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;

border:1px solid #229ACE;

margin:0 10px 0 0;

width: 5px;

height: 5px;
}
.art-slidenavigatorheader > a.active
{
background: #DBE784;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;

border:1px solid #DBE784;

margin:0 10px 0 0;

width: 5px;

height: 5px;
}
.art-slidenavigatorheader > a:hover
{
background: #9AAA22;
-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;

border:1px solid #C1D52A;

margin:0 10px 0 0;

width: 5px;

height: 5px;
}







.art-nav
{
   background: #4D4D4D;
   background: -webkit-linear-gradient(top, #454545 0, #636363 20%, #525252 50%, #424242 80%, #4D4D4D 100%) no-repeat;
   background: -moz-linear-gradient(top, #454545 0, #636363 20%, #525252 50%, #424242 80%, #4D4D4D 100%) no-repeat;
   background: -o-linear-gradient(top, #454545 0, #636363 20%, #525252 50%, #424242 80%, #4D4D4D 100%) no-repeat;
   background: -ms-linear-gradient(top, #454545 0, #636363 20%, #525252 50%, #424242 80%, #4D4D4D 100%) no-repeat;
   -svg-background: linear-gradient(top, #454545 0, #636363 20%, #525252 50%, #424242 80%, #4D4D4D 100%) no-repeat;
   background: linear-gradient(to bottom, #454545 0, #636363 20%, #525252 50%, #424242 80%, #4D4D4D 100%) no-repeat;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   margin:0 auto;
   position: relative;
   z-index: 499;
   text-align: left;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.art-nav:before 
{
   content:' ';
}

.desktop .art-nav{
   min-width: 700px;
   max-width: 1920px;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 0;
}
ul.art-hmenu>li:first-child {
   margin-left: 0;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 0;
}

ul.art-hmenu>li>a
{
   padding:0 40px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 48px;
   cursor: pointer;
   text-decoration: none;
   color: #F2FAFD;
   line-height: 48px;
   text-align: center;
}

.art-hmenu>li>a, 
.art-hmenu>li>a:link, 
.art-hmenu>li>a:visited, 
.art-hmenu>li>a.active, 
.art-hmenu>li>a:hover
{
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   padding:0 40px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #77C7E9;
   background: -webkit-linear-gradient(top, #6AC1E7 0, #9AD5EF 20%, #7BC9EA 50%, #65BFE6 80%, #73C5E8 100%) no-repeat;
   background: -moz-linear-gradient(top, #6AC1E7 0, #9AD5EF 20%, #7BC9EA 50%, #65BFE6 80%, #73C5E8 100%) no-repeat;
   background: -o-linear-gradient(top, #6AC1E7 0, #9AD5EF 20%, #7BC9EA 50%, #65BFE6 80%, #73C5E8 100%) no-repeat;
   background: -ms-linear-gradient(top, #6AC1E7 0, #9AD5EF 20%, #7BC9EA 50%, #65BFE6 80%, #73C5E8 100%) no-repeat;
   -svg-background: linear-gradient(top, #6AC1E7 0, #9AD5EF 20%, #7BC9EA 50%, #65BFE6 80%, #73C5E8 100%) no-repeat;
   background: linear-gradient(to bottom, #6AC1E7 0, #9AD5EF 20%, #7BC9EA 50%, #65BFE6 80%, #73C5E8 100%) no-repeat;
   padding:0 40px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop ul.art-hmenu>li:hover>a {
   color: #FFFFFF;
   text-decoration: none;
}

ul.art-hmenu li li a
{
   background: #47B3E1;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 30px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 6px;
   margin-bottom: 6px;
}

.desktop ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 34px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 34px;
   color: #07212C;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 34px;
   color: #07212C;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #229ACE;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
}
.art-hmenu ul a:hover
{
   text-decoration: none;
   color: #FCDFD4;
}

.desktop .art-hmenu ul li:hover>a
{
   color: #FCDFD4;
}

ul.art-hmenu ul:before
{
   background: #C1D52A;
   background: rgba(193, 213, 42, 0.9);
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.art-hmenu>li>ul
{
   padding: 15px 35px 35px 35px;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul ul
{
   padding: 35px 35px 35px 16px;
   margin: -35px 0 0 -5px;
}

.desktop ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 35px 35px 35px 16px;
   margin: -35px 0 0 -5px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 35px 16px 35px 35px;
   margin: -35px -5px 0 0;
}

.desktop ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.art-hmenu ul ul:before
{
   border-radius: 3px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 11px;
}

.desktop ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 11px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 11px;
   left: 30px;
}

.art-header
{
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   border:1px solid rgba(207, 207, 207, 0.3);
   margin:10px auto 0;
   background-repeat: no-repeat;
   height: 450px;
   background-image: none;
   background-position: 0 0;
   position: relative;
   min-width: 700px;
   max-width: 1920px;
   width: 100%;
   z-index: auto !important;
}

.custom-responsive .art-header
{
   background-image: none;
   background-position: 0 0;
}

.default-responsive .art-header,
.default-responsive #art-header-bg
{
   background-image: none;
   background-position: center center;
   background-size: auto;
}

.art-header > .region, .art-header > .block 
{
   position:absolute;
   z-index:101;
}

.art-sheet
{
   background: #FFFFFF;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   margin:10px auto 0;
   position:relative;
   cursor:auto;
   width: 100%;
   min-width: 700px;
   max-width: 1920px;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.art-postcontent .art-content-layout
{
   border-collapse: collapse;
}

.art-block
{
   background: #F2FAFD;
   background: transparent;
   padding:7px;
   margin:10px;
}
div.art-block img
{
   border: none;
   margin: 0;
}

.art-blockheader
{
   padding:10px;
   margin:0 auto;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #9E320A;
   font-size: 24px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   margin: 0 10px;
}

.art-blockcontent
{
   padding:10px;
   margin:0 auto;
   color: #4D4D4D;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #4D4D4D;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent p
{
   margin: 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #F04B0F;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #84CCEB;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #F37344;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #3E440D;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 13px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #4D4D4D;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 35px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea, a.art-search-button span
{
   vertical-align: middle;
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
   -webkit-appearance: none;
}

.art-button.active, .art-button.active:hover
{
   background: #707B18;
   background: -webkit-linear-gradient(top, #8F9E1F 0, #515912 100%) no-repeat;
   background: -moz-linear-gradient(top, #8F9E1F 0, #515912 100%) no-repeat;
   background: -o-linear-gradient(top, #8F9E1F 0, #515912 100%) no-repeat;
   background: -ms-linear-gradient(top, #8F9E1F 0, #515912 100%) no-repeat;
   -svg-background: linear-gradient(top, #8F9E1F 0, #515912 100%) no-repeat;
   background: linear-gradient(to bottom, #8F9E1F 0, #515912 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   border:1px solid #707B18;
   padding:0 25px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #FBCDBC !important;
}

.art-button.hover, .art-button:hover
{
   background: #9AAA22;
   background: -webkit-linear-gradient(top, #B9CC28 0, #7F8D1C 100%) no-repeat;
   background: -moz-linear-gradient(top, #B9CC28 0, #7F8D1C 100%) no-repeat;
   background: -o-linear-gradient(top, #B9CC28 0, #7F8D1C 100%) no-repeat;
   background: -ms-linear-gradient(top, #B9CC28 0, #7F8D1C 100%) no-repeat;
   -svg-background: linear-gradient(top, #B9CC28 0, #7F8D1C 100%) no-repeat;
   background: linear-gradient(to bottom, #B9CC28 0, #7F8D1C 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.15);
   border:1px solid #707B18;
   padding:0 25px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #E7EFAE !important;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   background: #F9FAFB;
   border:1px solid rgba(243, 115, 68, 0.2);
   margin:0 auto;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: auto;
   padding: 8px 0;
   color: #732407 !important;
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-shadow: none;
}
input.art-error, textarea.art-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #732407 !important;
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}
form.art-search input[type="text"], form.art-search input[type="search"]
{
   background: #F9FAFB;
   border-radius: 0;
   border:1px solid #CCD6E0;
   margin:0 auto;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input, a.art-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.art-search>input, a.art-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.art-search input[type="text"], form.art-search input[type="search"] {
   width: 100%;
   padding: 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #732407 !important;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
   background: #DBE784;
   border-radius: 0;
   margin:0 auto;
}
form.art-search input[type="submit"], input.art-search-button, a.art-search-button {
   position:absolute;
   left:auto;
   display:block;
   border: 0;
   top: 1px;
   bottom: 1px;
   right: 	1px;
   padding:0 6px;
   color: #748019 !important;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   cursor: pointer;
}

a.art-search-button span.art-search-button-text, a.art-search-button:after {
   vertical-align:middle;
}

a.art-search-button:after {
   display:inline-block;
   content:' ';
   height: 100%;
}

a.art-search-button, a.art-search-button span,
a.art-search-button:visited, a.art-search-button.visited,
a.art-search-button:hover, a.art-search-button.hover 
{
   text-decoration: none;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

a.art-search-button 
{
   line-height: 100% !important;
}

label.art-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #782608 !important;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #77C7E9;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #B9E2F4;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #782608 !important;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #77C7E9;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #B9E2F4;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-comments
{
   border-top:1px dotted #47B3E1;
   margin:0 auto;
   margin-top: 25px;
}

.art-comments h2
{
   color: #0B3546;
}

.art-comment-inner
{
   background: #E2E8EE;
   background: transparent;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 94px;
}
.art-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:1px;
   background:#fff;
   border:1px solid #E2E8EE;
}

.art-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.art-comment-content
{
   padding:10px 0;
   color: #606A15;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment
{
   margin-top: 6px;
}

.art-comment:first-child
{
   margin-top: 0;
}

.art-comment-header
{
   color: #0B3546;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment-header a, 
.art-comment-header a:link, 
.art-comment-header a:visited,
.art-comment-header a.visited,
.art-comment-header a:hover,
.art-comment-header a.hovered
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment-header a, .art-comment-header a:link
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #31AADD;
}

.art-comment-header a:visited, .art-comment-header a.visited
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #31AADD;
}

.art-comment-header a:hover,  .art-comment-header a.hovered
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #31AADD;
}

.art-comment-content a, 
.art-comment-content a:link, 
.art-comment-content a:visited,
.art-comment-content a.visited,
.art-comment-content a:hover,
.art-comment-content a.hovered
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment-content a, .art-comment-content a:link
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #C53E0D;
}

.art-comment-content a:visited, .art-comment-content a.visited
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #7F8D1C;
}

.art-comment-content a:hover,  .art-comment-content a.hovered
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #C53E0D;
}

.art-pager
{
   background: #EFF2F5;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #47B3E1;
   padding:5px;
}

.art-pager>*:last-child
{
   margin-right:0 !important;
}

.art-pager>span {
   cursor:default;
}

.art-pager>*
{
   background: #B9E2F4;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #B9E2F4;
   padding:7px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.art-pager a:link,
.art-pager a:visited,
.art-pager .active
{
   line-height: normal;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #092735
;
}

.art-pager .active
{
   background: #B6BFC9;
   background: -webkit-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -moz-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -o-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -ms-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   -svg-background: linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: linear-gradient(to bottom, #E5E8EB 0, #8796A6 100%) no-repeat;
   border:1px solid #B9E2F4;
   padding:7px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.art-pager .more
{
   background: #B9E2F4;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #6EC3E7 100%) no-repeat;
   border:1px solid #B9E2F4;
   margin:0 4px 0 auto;
}
.art-pager a.more:link,
.art-pager a.more:visited
{
   color: #3A1204
;
}
.art-pager a:hover
{
   background: #77C7E9;
   background: -webkit-linear-gradient(top, #B9E2F4 0, #31AADD 100%) no-repeat;
   background: -moz-linear-gradient(top, #B9E2F4 0, #31AADD 100%) no-repeat;
   background: -o-linear-gradient(top, #B9E2F4 0, #31AADD 100%) no-repeat;
   background: -ms-linear-gradient(top, #B9E2F4 0, #31AADD 100%) no-repeat;
   -svg-background: linear-gradient(top, #B9E2F4 0, #31AADD 100%) no-repeat;
   background: linear-gradient(to bottom, #B9E2F4 0, #31AADD 100%) no-repeat;
   border:1px solid #B9E2F4;
   padding:7px;
   margin:0 4px 0 auto;
}
.art-pager  a:hover,
.art-pager  a.more:hover
{
   color: #092735
;
}
.art-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.art-pager>*:last-child:after{
   display:none;
}

.art-commentsform
{
   background: #E2E8EE;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #0B3546;
}

.art-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #0B3546;
}

.art-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.art-commentsform input:not([type=submit]), .art-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.art-commentsform .form-submit
{
   margin-top: 10px;
}
.art-post
{
   padding:10px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   margin: 0 0 0 0;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 0 0 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheader
{
   color: #186C91;
   margin: 6px 0;
   font-size: 26px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 26px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-postheader a, .art-postheader a:link
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #2094C5;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #3AADDF;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #135572;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-size: 12px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #186C91;
}

.art-postheadericons
{
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #19739A;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #19739A;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
   color: #082430;
}

.art-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #9E320A;
   margin: 5px 0 5px 13px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 14px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -14px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 13px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 13px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 5px 0 5px 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #B9E2F4 url('images/postquote.png') no-repeat scroll;
   border:1px solid #77C7E9;
   padding:6px 6px 6px 43px;
   margin:10px 10px 10px 50px;
   color: #04141A;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #04141A;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
}

.art-footer
{
   background: #000000;
   margin:0 auto;
   position: relative;
   color: #FFFFFF;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #FFFFFF;
   font-size: 13px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #F04B0F;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #F04B0F;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #4396C7;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer h1
{
   color: #229ACE;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h2
{
   color: #47B3E1;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h3
{
   color: #F37344;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h4
{
   color: #DBE784;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h5
{
   color: #DBE784;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h6
{
   color: #DBE784;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-footer-inner
{
   margin: 0 auto;
   min-width: 700px;
   max-width: 1920px;
   width:100%;
   padding:15px;
   padding-right: 15px;
   padding-left: 15px;
}

.art-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-rss-tag-icon:empty
{
   vertical-align: middle;
}

.art-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.art-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.art-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.art-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.art-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.art-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.art-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.art-footer li
{
   font-size: 14px;
   font-family: 'Droid Serif', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #FAC2AE;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #FBD4C5;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #4D4D4D;
}

.art-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.art-lightbox,
.art-lightbox-wrapper .art-lightbox-image
{
   cursor: pointer;
}

.art-lightbox-wrapper .art-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.art-lightbox-wrapper .art-lightbox-image.active
{
   display: inline-block;
}

.art-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.art-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.art-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.art-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.art-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.art-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.art-lightbox-wrapper .arrow-t, 
.art-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.art-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.art-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.art-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.art-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .close .cw, 
.art-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.art-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.art-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.art-lightbox-wrapper .close-alt, 
.art-lightbox-wrapper .arrow-right-alt, 
.art-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .art-lightbox-wrapper .close-alt, 
.ie8 .art-lightbox-wrapper .arrow-right-alt, 
.ie8 .art-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .art-lightbox-wrapper .cw, 
.ie8 .art-lightbox-wrapper .ccw 
{
   display: none;
}

.art-content-layout .art-sidebar1
{
   margin:0 auto;
   width: 20%;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */

body.toolbar-drawer 
{
    padding-top: 65px !important;
}

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li,
ul li.expanded, ul li.leaf, ul li.collapsed,
li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	list-style-type: none;
	list-style-image: none;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	display: inline;
}

ul.arttabs_primary li:before, ul.arttabs_secondary li:before
{
    content: ' ';
	margin-left: 6px;
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.art-block-body .art-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.art-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.art-postcontent .calendar-calendar ul li, .art-postcontent .calendar-calendar ol ul li,
.art-postcontent div.view div.views-admin-links ul li, .art-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

form.comment-form input[type="submit"], form.confirmation input[type="submit"]
{
	margin-right: 10px !important;
}

.art-tags, .art-tags .field, .art-tags .field .field-label,
.art-tags .field .field-items, .art-tags .field .field-items .field-item
{
	display: inline;
}

.art-tags .field-item a:after
{
	content: ', ';
}

.art-tags .field-item:last-child a:after
{
	content: '';
}

/* BEGIN Action links support in Drupal7 */
.art-post ul.action-links li
{
	background-image: none;
	list-style-type: none;
}

.art-post ul.action-links a
{
    background: url("images/addicon.png") no-repeat scroll 0 transparent;
    background-position: center left;
    line-height: 30px;
    padding-left: 15px;
}
/* END Action links support in Drupal7 */

/* BEGIN Overlay module support */
#overlay #overlay-content #art-page-background-middle-texture
{
    background-image: none;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover
{
    background-color: transparent;
    font-weight: normal; 
}
/* END Overlay module support */

/* BEGIN Front page list view support */
#first-time ol
{
    list-style-position: outside;
}
/* END Front page list view support */

/* BEGIN Rtl support in Admin menu */
#toolbar, #toolbar *
{
    text-align: left;
}

#toolbar ul li, #toolbar ul li a {
    float: left;
}
/* END Rtl support in Admin menu */

/* BEGIN Contextual links styles support */
ul.contextual-links li
{
   background-image: none !important;
   padding-left: 4px !important;
}

ul.contextual-links li a
{
   font-family: Arial !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 12px !important;
   text-align: left !important;
   text-decoration: none !important;
}
/* END Contextual links styles support */

/* BEGIN Rtl support for Contextual links */
a.contextual-links-trigger
{
    text-indent: 90px !important;
}
/* END Rtl support for Contextual links */

/* BEGIN Superfish support */
.art-blockcontent .sf-menu.sf-style-default li 
{
    margin: 0;
    padding: 0;
}
/* END Superfish support */

.status, .status ul li
{   
    color: #234600;
}

.error, .error ul li
{
	color: #660000;
}

/* Begin Drupal Search style */
.art-header .art-search label
{
    display: none;
}

.art-search div.form-item
{
    margin: 0;
}

#block-system-main form.art-search, .content .search-form.search-page-form.art-search
{
  line-height: normal !important;
}

.content .search-form.search-page-form.art-search input[type="submit"] 
{
    top: 0;
    height: 21px;
    zoom: 1;
}

.art-search .form-wrapper .action input[type="submit"],
.art-blockcontent .art-search .container-inline label,
.art-postcontent .art-search .container-inline label
{
  display: none;
}
/* End Drupal Search style */

.art-comment-avatar img
{
    margin: 0;
}

.art-comment-footer ul
{
    margin: 0 !important;
}

.art-comment-footer li:before
{
    content: ' ' !important;
}

.block {
    border-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

/* Begin Autocomplete styles customization */

#node-form  input[type="text"] {
	margin: 0 !important;
}

#node-form  #autocomplete ul li:before {
	content: none !important;
}

/* End Autocomplete styles customization */

/* Begin BUEditor support */
.art-commentsform  .bue-ui input:not([type="submit"]),
.art-commentsform  .bue-ui input:not([type="image"]) {
    width:auto;  
    max-width:none;	
}
/* End BUEditor support */

/* Begin Advanced Forum support */
.forum-post-links ul.links li:before {
    content: none;
}

.forum-post-links ul.links li {
    padding: 0 0 2px 2px;
}
/* End Advanced Forum support */

ul.inline, ul.links.inline {
    display: inline;
    padding-left: 0;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}