/* --------------------------- */
/* color css */
/* --------------------------- */
header#navbar.navbar-fixed-top.affix {
  background-color: #FFF5E1;  
}
header#navbar,
header#navbar  nav,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
header#navbar.navbar-default .navbar-toggle .icon-bar,
.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
  background-color:#ffffff;
}  
header#navbar  nav{
  border-color: #ffffff;
}
header#navbar .navbar-nav>li>a {
  color: #4b4b4b;
}  
header#navbar li>a:focus,
header#navbar li>a:hover,
header#navbar li>a.acive,
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li>a:hover,
header#navbar .navbar-nav>li.active>a,
header#navbar .dropdown a:focus, 
header#navbar .dropdown a:hover,
header#navbar .dropdown a.active {
  color: #ffa800;
}  
header#navbar .navbar-nav>li.last>a {
  color: #ffffff;
}  
.navbar-inverse .navbar-toggle,
header#navbar.navbar-default .navbar-toggle {
  border-color: #ffa800;
}
.navbar-toggle,
.navbar-inverse .navbar-toggle:focus .icon-bar, 
.navbar-inverse .navbar-toggle:hover .icon-bar,
header#navbar .navbar-nav>li.last>a,
header#navbar.navbar-default .navbar-toggle {
  background-color: #ffa800;  
}


/* --------------------------- */
/* color css */
/* --------------------------- */
.content-light-green {
  background-color: #ffffff;
}

.content-light-green .content-box .title {
  color: #000000;
}

.content-light-green .content-box .description {
  color: #4b4b4b;
}

.content-light-green .content-box {
  background-color: #f7f7f7;
  border-right-color: #cdcdcd;
  border-bottom-color: #cdcdcd;
  border-top-color: #cdcdcd;
  border-left-color: #a5C63b;
}

.content-light-green .content-box .buynow-button a {
  background-color: #a4c63b;
  border-color: #a4c63b;
  color: #ffffff;
}

/* --------------------------- */
/* color css */
/* --------------------------- */
footer#footer .footer-copyright-menu{
  background-color: #1e967d;
}
footer#footer .footer-copyright-menu,
footer#footer .footer-menu ul li a{
  color: #ffffff;
}
footer#footer .footer-menu ul li a:hover,
footer#footer .footer-menu ul li a:focus {
  background-color: transparent;
}
footer#footer .footer-social,
footer#footer .footer-social .follow-link-wrapper a,
footer#footer .footer-social .follow-link-wrapper a:hover,
footer#footer .footer-social .follow-links span.follow-link-wrapper:hover {
  background-color: #ffffff;
}
footer#footer .footer-social .follow-links span.follow-link-wrapper {
  border-color: #d7d7d7;
}
footer#footer .footer-social .follow-links span.follow-link-wrapper:hover {
  border-color: #70bdad;
}
footer#footer .footer-social .follow-link-wrapper a:before{
  color: #a5a5a5;
}
footer#footer .follow-link-wrapper a:hover:before{
  color: #70bdad;
}



