/* --------------------------- */
/* main css  */
/* --------------------------- */
body.navbar-is-fixed-top {
  padding-top: 75px;
}
body.front  header#navbar.navbar-fixed-top.affix-top {
  background-color: transparent;
  transition: all .9s ease-in-out;
  -moz-transition: all .9s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}
header#navbar.navbar-fixed-top.affix {
  transition: all .9s ease-in-out;
  -moz-transition: all .9s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
}
header#navbar.navbar-static-top {
  position:relative;
  width: 100%;  
}
header#navbar a.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
header#navbar a.logo img {
  height: 30px;
}
header#navbar {
  font-family:roboto;
  padding-top: 0px;
  margin-bottom: 0px;  
}
header#navbar  nav{
  max-height: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
header#navbar .navbar-nav>li  {
  margin-top:20px;
}
header#navbar .navbar-nav>li>a {
  text-transform: uppercase;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
header#navbar li>a:focus,
header#navbar li>a:hover,
header#navbar li>a.acive,
header#navbar .navbar-nav>li>a:focus,
header#navbar .navbar-nav>li>a:hover,
header#navbar .navbar-nav>li.active>a,
header#navbar .dropdown a:focus, 
header#navbar .dropdown a:hover,
header#navbar .dropdown a.active {
  background-color: transparent;
}
header#navbar  .navbar-header {
  margin-top: 10px;
}
header#navbar  .navbar-nav>li.last>a {
  font-size: 1em;
  text-transform: none;
}
.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form {
  border-color: transparent;
}
header#navbar #navigation {
  border:none;
}
header#navbar.navbar-default .navbar-toggle {
  border-radius: 0px;
}


/* --------------------------- */
/* style css */
/* --------------------------- */
.content-light-green {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-light-green .content-box .title {
  font-size: 1.7em;
  font-weight: normal;
  margin-left: 18px;
  margin-top: 30px;
  margin-bottom: 7px;
}

.content-light-green .content-box .description {
  font-size: 1.23em;
  margin-left: 18px;
}

.content-light-green .content-box {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 4px solid;
  height: 120px;
}

.content-light-green .content-box .buynow-button {
  align-items: center;
  display: flex;
  height: 118px;
}

.content-light-green .content-box .buynow-button .btn {
  border-radius: 0px;
  width: 107px;
  height: 40px;
  box-shadow: none;
}

.content-light-green .content-box .buynow-button a {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: none;
  padding-top: 9px;
  padding-left: 13px;
  text-decoration: none;
}


/* --------------------------- */
/* css code */
/* --------------------------- */
footer#footer{
  font-family: 'Roboto', sans-serif;
  padding-bottom:10px;  
  padding-top:10px;
  font-weight: lighter;
}
footer#footer .footer-copyright-menu {
  padding: 15px 0px;
}
footer#footer .footer-menu h2,
footer#footer .footer-menu h3 {
  display: none;
}
footer#footer .footer-menu ul li a{
  padding: 4px 10px;
  font-size: 1em;
}
footer#footer .footer-menu ul {
  float: right;
}
footer#footer .footer-menu ul li a:hover,
footer#footer .footer-menu ul li a:focus {
  text-decoration: underline;
}
footer#footer .footer-social {
  padding-top: 45px;
  padding-bottom: 45px;
}
footer#footer .footer-social .follow-link-wrapper a{
  padding-left: 0;
  width: 65px;
  text-align: center;
  padding-top: 25px;
  margin-right: 0px;
}
footer#footer .footer-social .block .follow-link-wrapper a:hover{
  text-decoration: none;
}
footer#footer .footer-social .block {
  display: block;
  padding-top: 10px;
}
footer#footer .footer-social .follow-links {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
footer#footer .footer-social .follow-links span.follow-link-wrapper {
  -webkit-flex: 0 0 65px;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  margin: 5px;
  margin: -5px;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  width: 65px;
  height: 65px;
  padding-top: 3px;
}
footer#footer .footer-social .follow-links span.follow-link-wrapper:hover {
  border: 2px solid #70bdad;
}
footer#footer .footer-social .block .follow-link-wrapper a:before{
  font-size: 3em;
  font-weight: bold;
  font-family: FontAwesome;
  text-align: center;
  padding-left: 3px;
}
footer#footer .follow-link-wrapper-facebook a:before{
  content: "\f09a";
}
footer#footer .follow-link-wrapper-googleplus a:before{
  content: "\f0d5";
}
footer#footer .follow-link-wrapper-twitter a:before{
  content: "\f099";
}
footer#footer .follow-link-wrapper-linkedin a:before{
  content: "\f0e1";
}


