/* --------------------------- */
/* css code */
/* --------------------------- */
@media (max-width: 767px) { 
  .navbar.container {
    margin-top: 0px;
  }
  header#navbar nav,
  header#navbar  .navbar-nav>li.last>a  {
    background: transparent;
    border-color: transparent;
  }
}


/* --------------------------- */
/* mobile css */
/* --------------------------- */
@media (max-width: 767px) {

.content-light-green {
  padding-top: 25px;
  padding-bottom: 25px;
}

.content-light-green .content-box {
  background-color: transparent;
  border: medium none;
  margin: 0;
  height: 0;
}

.content-light-green .content-box .buynow-button {
  display: block;
  padding-left: 0;
  text-align: center;
}

.content-light-green .content-box .title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 6px;
}

.content-light-green .content-box .description  {
  text-align: center;
  margin-bottom: 18px;
}

.content-light-green .content-box .buynow-button a {
  padding-top: 8px;
}

}

/* --------------------------- */
/* css code */
/* --------------------------- */
@media (max-width: 767px) {
  footer#footer .footer-social .block {
    float: none;
  }
  footer#footer .footer-copyright-menu {
    padding: 20px 0px;
  }
  footer#footer .footer-copyright {
    text-align: center;
  }
  footer#footer .footer-menu ul {
    text-align: center;
    float: none;
  }
  footer#footer .footer-menu ul li {
    display: inline-block;
  }
  footer#footer .footer-menu ul li a {
    font-size: 1.3em;
  }
}


