<h2>Ubershop Wishlist is a Drupal distribution that integrates the functionality of the opensource Ubercart cart with the addition of the wish list functionality.</h2>
<p><b>Ubercart leverages the advantages</b> of Drupal's major core and contributed systems, providing your users with shopping cart functionality that integrates with other parts of your company or community web site. It can be used to sell shippable goods, downloadable products, recurring memberships, and event tickets, and to enable complex interactions with Drupal through various add-on contributions.</p>
<p><img src="https://www.drupal.org/files/project-images/c20210411_123912.png" border="0" title="Simple About page Ubershop Wishlist is a Drupal distribution" alt="Simple About page Ubershop Wishlist is a Drupal distribution"></p>
<p>&nbsp;</p>
<p>=============================</p>
What is Ubercart?</h3>
<p>=============================</p>
<p><b>Ubercart is the most popular Drupal E-Commerce platform for your website. It implements everything you need to start selling products online.</b></p>
<p>Ubercart is not a standalone application, but it's a module for Drupal. This means that you first have to install and customize Drupal, and then install Ubercart and all its related third-party modules. Imagine how powerful this combination is. You won't have just a selling point for your products, but a complete platform to interact with your clients and market your company.</p>
<p>Solution for online shops with Drupal are:</p>
<ul>
  <li>Integrated payment system to integrate between various payment methods and known payment gateways</li>
  <li>Transparent integration with Drupal basic core resulting in advanced reporting, user administration, and community-building features</li>
  <li>Batch import/export of products in the product repository</li>
  <li>Out-of-the-box functionality for each key aspect of your online store such as products, checkouts, payments, orders, and shipments</li>
  <li>Fully extensible with community wide support as it implements Drupal's core API programming patterns</li>
  <li>Activity logging and auditing</li>
</ul>
<p>and more...</p>
<p><img src="https://www.drupal.org/files/project-images/c20210411_124001.png" border="0" title="Product page Solution for online shops with Drupal" alt="Product page Solution for online shops with Drupal"></p>
<p>&nbsp;</p>
<p>=============================</p>
What include Ubershop Wishlist profile</h3>
<p>=============================</p>
<p>Installation profiles provide site features and functions for a specific type of site as a single download containing Drupal core, contributed modules, themes, and pre-defined configuration.</p>
<p>Configure your store as you want thanks to the modules already included in the distribution such as:</p>
<p>&nbsp;</p>
<ol>
  <li>multilingual con i18n</li>
  <li>image management with&nbsp;colorbox and imageapi</li>
  <li>translation updates with&nbsp;l10n_update e entity_translation</li>
  <li>automatic backup with backup_migrate</li>
  <li>optimization with background_process</li>
  <li>customization of ubercart with&nbsp;uc_product_power_tools</li>
</ol>
<p><img src="https://www.drupal.org/files/project-images/c20210411_131942.png" border="0" title="Settings page Ubershop Wishlist profile" alt="Settings page Ubershop Wishlist profile"></p>
<p>&nbsp;</p>
<p>=============================</p>
Libraries of this distribution</h3>
<p>=============================</p>
<p><b>Colorbox</b></p>
<p>Colorbox is a light-weight customizable lightbox plugin for jQuery. This module allows for integration of Colorbox into Drupal.</p>
<p><b>Profiler</b></p>
<p>Profiler provides a new way to write install profiles. Gone are the days where you needed to know all the quirks of Drupal's APIs in order to write a solid install profile. </p>
<p>&nbsp;</p>
<p>=============================</p>
<b>Modules activate in this distribution</b></h3>
<p>=============================</p>
<p>The best and most useful modules are installed for an optimal construction of your shop.</p>
<p>&nbsp;</p>
<ol>
  <li>admin_menu</li>
  <li>ctools</li>
  <li>date</li>
  <li>maxlength</li>
  <li>colorbox</li>
  <li>imageapi</li>
  <li>l10n_client</li>
  <li>l10n_update</li>
  <li>potx</li>
  <li>entity_translation</li>
  <li>i18n</li>
  <li>rules</li>
  <li>background_process</li>
  <li>backup_migrate</li>
  <li>entity</li>
  <li>libraries</li>
  <li>logintoboggan</li>
  <li>pathauto</li>
  <li>progress</li>
  <li>token</li>
  <li>transliteration</li>
  <li>rules</li>
  <li>ubercart</li>
  <li>uc_product_power_tools</li>
  <li>uc_wishlist</li>
  <li>variable</li>
  <li>views</li>
</ol>
<p><img src="https://www.drupal.org/files/project-images/c20210411_124050.png" border="0" title="Not logged in Ubershop Wishlist product page" alt="Not logged in Ubershop Wishlist product page"></p>
<p>Wishlist Screenshot:</p>
<p><img src="https://www.drupal.org/files/project-images/c20210411_124414.png" border="0" title="Ubershop Wishlist admin page" alt="Ubershop Wishlist admin page"></p>
<p>=============================</p>
Theme included</h3>
<p>=============================</p>
<ul>
  <li>mbase</li>
  <li>simplenav</li>
  <li>restaurant_table</li>
</ul>
<p>The ubershop profile installs and activates the modules for managing the shop, activates the restaurant: table theme and provides a theme based on bootstrap 3 to be activated if desired.</p>
<p>To customize graphics, products, contents and pages, it is necessary to know how Drupal works and its characteristics.</p>
